body {
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  color: #f3f3f3;
}

.body-day {
//  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  background: linear-gradient(141deg, rgb(33,33,33) 0%, rgb(38,38,38) 51%, rgb(48,48,48) 75%);
}

.body-night {
//  background: linear-gradient(141deg, #00004d 0%, #004d66 51%, #009999 75%);
  background: linear-gradient(141deg, rgb(28,28,28) 0%, rgb(33,33,33) 51%, rgb(38,38,38) 75%);
}

.main {
  min-height: 24vh;
  position: absolute;
  left: 14px;
  bottom: 22px;
  padding: 0 0 0 14px;
}

.name-top {
  position: absolute;
  top: 0px;
  left: 0px;
  font-weight: bold;
}

.name-bottom {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: right;
  font-weight: bold;
}

.history {
  margin-top: 42px;
}

.links {
  margin: 32px 0 32px 0;
}

a:link, a:visited {
  color: #f3f3f3;
}

a:hover {
  text-decoration: underline;
  color: #f3f3f3;
}