body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

.body-day {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.body-night {
  background: linear-gradient(141deg, #00004d 0%, #004d66 51%, #009999 75%);
}

#main {
  position: relative;
  height: 100vh;
}

.name {
  position: absolute;
  bottom: 5px;
  right: 14px;
  color:#f3f3f3;
  text-align: right;
}

.tag-block {

}

.tag-block > .tag {
  text-align: left;
  color: #00ff00
}

.tag-block > .content {
  padding: 0 0 0 16px;
}