---
title: Alex's Home
---

<div id="main">
  <h3 class="name">
    <div class="tag-block">
      <div class="tag">&lt;name&gt;</div>
      <div class="content">Alexander Miasoiedov</div>
      <div class="tag">&lt;/name&gt;</div>
    </div>
  </h3>
</div>
