---
title: Alex's Home
---

<div class="main">
  <span class="name-top">
    &lt;AlexanderMiasoiedov&gt; BETA
  </span>
  <div class="history">
    <p>Curious about tech, business, entrepreneurship, investments and lean production.</p>
  </div>

  <div class="links">
    <p><a href="https://www.linkedin.com/in/alexander-miasoiedov-a7476381/">LinkedIn</a>: https://www.linkedin.com/in/alexander-miasoiedov-a7476381/</p>
    <p><a href="https://github.com/AlexMiasoiedov">GitHub</a>: https://github.com/AlexMiasoiedov</p>
  </div>
  <span class="name-bottom">
    &lt;/AlexanderMiasoiedov&gt;
  </span>
</div>
